{% load static %}
<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Konferenca</title>
 <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
<div class="sidebar">
  <a href="{% url 'attendee_add' %}" class="{% if request.resolver_match.url_name == 'attendee_add' %}active{% endif %}">Dodaj udeleženca</a>
  <a href="{% url 'attendee_list' %}" class="{% if request.resolver_match.url_name == 'attendee_list' %}active{% endif %}">Pregled in urejanje</a>
  <a href="{% url 'arrival_add' %}" class="{% if request.resolver_match.url_name == 'arrival_add' %}active{% endif %}">Dodajanje prihodov</a>
  <a href="{% url 'arrival_list' %}" class="{% if request.resolver_match.url_name == 'arrival_list' %}active{% endif %}">Pregled prihodov</a>
{% if request.user.is_staff %}
  <a href="{% url 'attendee_change_list' %}" class="{% if request.resolver_match.url_name == 'attendee_change_list' %}active{% endif %}">Spremembe udeležencev</a>
{% endif %}
    <a href="{% url 'logout' %}">Izpis</a>
</div>
<div class="main-content">
  <div class="user-info" style="margin-top: 16px; margin-bottom: 24px; font-size: 18px; font-weight: bold; text-align: center;">
    Vpisani kot, {{ request.user.first_name|default:request.user.email }} (signed in as {{ request.user.first_name|default:request.user.email }})
  </div>
  {% if messages %}
    {% for message in messages %}
      {% if forloop.first %}
        <div class="message-{{ message.tags }} centered-message">{{ message }}</div>
      {% endif %}
    {% endfor %}
  {% endif %}
  {% block content %}{% endblock %}
</div>
</div>
</body>
</html>